* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}
.like-button {
  display: flex;
  padding: 10px 20px;
  width: max-content;
  align-items: center;
  gap: 10px;
  border-radius: 19px;
  border: 2px solid #f00;
  background-color: transparent;
  color: #f00;
  font-family: roboto, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 100% */
  position: absolute;
  top: 50px;
  left: 50px;

  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.like-button i {
  font-size: 28px;
}

.like-count {
  color: #000000;
}

.like-button.active {
  background-color: #ff0000;
  color: #ffffff;
}

.like-button.active .like-count {
  color: #ffffff;
}
